
@{
    ViewBag.Title = "ChatWindow";
    var friend = (ChatManager.Models.User)ViewBag.Friend;
}
<div class="messagesHeader">
    @if (friend == null)
    {
        <h4>Sélectionnez un ami...</h4>
    }
    else
    { 
        <h4>Conversation avec </h4>
        @Helper.AvatarUser(friend)
    }
</div>
@* afficher les différents types de helpers dépendant des messages *@
@Helper.TypingBubble(true)
<div style="height:40px;">&nbsp;</div>