
@{
    ViewBag.Title = "ChatWindow";
}

<div class="messagesHeader">
    <h4>Conversation avec </h4>
    <div class="userItem">
        <div class="UserMediumAvatar" style="background: url(/Images_Data/User_Avatars/21f83d97-67a7-4039-86f9-0c0aa0fbebea.Jpeg)"></div>
        <div class="ellipsis">Nicolas Chourot</div>
    </div>
</div>

<div class="messageTime">
    3 mai 2023 - 16:28
</div>
<div class="receivedLayout">
    <div class="received" title="16:28">
        <span class="token">Salut!</span>

    </div>
</div>
<div class="receivedLayout" id="typing" style="display: none;">
    <img src="/Content/UI-icons/typing1.gif" style="width:40px; border-radius:8px" class="received">
</div>
<div style="height:40px;">&nbsp;</div>