@model IEnumerable<ChatManager.Models.User>
@{
    ChatManager.Models.User user = (ChatManager.Models.User)ViewBag.User;
    int selectedFriendId = (int)ViewBag.SelectedFriendId;
}

@foreach (var friend in Model)
{
    string isSelected = selectedFriendId == friend.Id ? "selectedTarget" : "unselectedTarget";

    <div class="@isSelected" data-userid="@friend.Id">
        @Helper.AvatarTooltip(friend, "UserSmallAvatar")
    </div>
}