@model IEnumerable<ChatManager.Models.User>

@{
    ChatManager.Models.User currentUser = ViewBag.CurrentUser;
}

@foreach (var user in Model)
{
    ChatManager.Models.Friendships friendships = user.StatusWith(currentUser);
    if (user == currentUser) { continue; }


    <div class="friendContainer">
        @Helper.AvatarUser(user, "UserSmallAvatar")
        @Helper.UserIcons(user, currentUser)
    </div>
}