@model IEnumerable<ChatManager.Models.User>

@{
    ChatManager.Models.User currentUser = ViewBag.CurrentUser;
}

@foreach (var user in Model)
{
    if (user == currentUser) { continue; }
    ChatManager.Models.Friendships friendship = currentUser.StatusWith(user);
    string amitié = friendship != null && friendship.Accepted ? "Ami" : "Pas ami";


    <div>
        <span>@user.GetFullName() </span><span>@amitié</span>

    </div>
}